fastapi[standard]
pydantic
numpy
pandas
scikit-learn
tqdm
yellowbrick
statsmodels
chardet
sqlalchemy
psycopg2-binary
mapclassify
python-docx
docx2pdf
mplfonts
pymannkendall
stumpy
seaborn
celery
redis
connectorx
pydantic_settings
flower
